## Setup

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append("..")

# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import m5.config as cfg
import m5.preprocessing
from m5.metrics import rmsse

import lightgbm as lgb
import gc

# Library settings
pd.options.display.max_columns = 999
plt.rcParams["figure.figsize"] = (14, 4)

In [5]:
def agg_sales(data, lvl):
    agg_level = {
        1: ['d'],
        2: ['state_id', 'd'],
        3: ['store_id', 'd'],
        4: ['cat_id', 'd'],
        5: ['dept_id', 'd'],
        6: ['state_id', 'cat_id', 'd'],
        7: ['state_id', 'dept_id', 'd'],
        8: ['store_id', 'cat_id', 'd'],
        9: ['store_id', 'dept_id', 'd'],
        10: ['item_id', 'd'],
        11: ['item_id', 'state_id', 'd'],
        12: ['item_id', 'store_id', 'd'],
    }
    
    data_agg = data.groupby(agg_level[lvl])["sales"].sum().reset_index()
    return data_agg

In [3]:
train = pd.read_parquet(cfg.DATA_PROCESSED_DIR / "train.parquet")

In [6]:
train = train.iloc[:, :8]

In [8]:
for lvl in range(1, 12+1):
    agg_sales(train, lvl).to_parquet(cfg.DATA_PROCESSED_DIR / f"agg_sales_lvl_{lvl}.parquet")

In [9]:
df = pd.read_parquet(cfg.DATA_PROCESSED_DIR / "agg_sales_lvl_12.parquet")

In [12]:
df

          item_id  store_id     d  sales
0               0         0    42      0
1               0         0    43      1
2               0         0    44      5
3               0         0    45      0
4               0         0    46      0
...           ...       ...   ...    ...
43838687     3048         9  1881      0
43838688     3048         9  1882      0
43838689     3048         9  1883      0
43838690     3048         9  1884      0
43838691     3048         9  1885      0

[43838692 rows x 4 columns]